<!-- <!DOCTYPE html> -->
<header id="header" class="full-width" canvas>
  <div class="row full-width">
    <div id="header-logo" class="small-10 medium-8 medium-offset-1 columns">
      <a href=""><img class="header-logo" src="img/header-white.png" /></a>
    </div>
    
    <div id="header-menu" class="small-2 medium-offset-1 medium-2 columns right end">
        <a class="aqua toggle-menu"><i class="fa fa-lg fa-bars"></i></a>
    </div>
  </div>
</header>