<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  
  <body>
    <% include ../partials/header %>
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
            <h3 class="title-sub">Community kickoff meeting</h3>
            <h5 class="no-margin-bottom">Saturday, Jan 21st from 1-3pm CST</h5>
            <h5 class="one-margin-bottom">at 1101 Emmitt Run in Austin, TX and online</h5>
        </div>
        
        <div class="row one-margin-bottom center">
          <div class="small-12 medium-8 small-centered columns">
            <p>openCurrents is a community-led currency. Come help us determine the direction of this project. You'll get paid 2 Currents for your time - these will be the first Currents to exist!</p>
            <p>We will start with an introduction to openCurrents and alternative currency, followed by Q&A. We will then vote to answer <a href="https://workflowy.com/s/lTPnvlIBlE" target="_blank">open questions</a> about how to implement the currency.</p>
            <p>If you are outside Austin, <a href="mailto:danny@opencurrents.com?subject=Community%20meeting%20video%20call">email us</a> to join our group Skype call.</p>
          </div>
        </div>

        <div class="row center">
          <a href="mailto:danny@opencurrents.com?subject=RSVP%20for%20community%20meeting&body=Please%20include%20names%20of%20all%20attendees:" class="button round">I want to be there</a>
          <a href="https://workflowy.com/s/lTPnvlIBlE" target="_blank" class="button round secondary">Open questions</a>

          <p><a href="causes">See the demo</a></p>
        </div>
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      <% include ../partials/footer %>
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      <a class="list-group-item" href="causes">
        <i class="half-margin-right fa-fw fa fa-eye"></i>
        See the demo
      </a>
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script src="js/end_scripts.js" type="text/javascript"></script>
  </body>
</html>